body{
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.5fr 2.5fr 1fr;
    background-color: #80D088;
    /*background-image: url(./img/key-ime-pie_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}

h2{
    text-align: center;
    color: #1f630e;
}

header{
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
    background-color: white;
    /*border: 2px solid green;*/
    margin: 20px;
    color: #1f630e;
    border-radius: 10px;
}

.Ingredienser{
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: white;
    /*border: 2px solid green;*/
    padding: 10px;
    margin: 20px;
    border-radius: 10px;

    /*display: flex;
    justify-content: space-around;
    flex-direction: column;*/
}

.Instruktioner{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: white;
    /*border: 2px solid green;*/
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.Fakta{
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
    background-color: white;
    /*border: 2px solid green;*/
    margin: 20px;
    border-radius: 10px;
}

.Bild1{
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(./img/Key.lime.pie.jpg);
    /*border: 2px solid green;*/
    margin: 20px;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
}
.Bild2{
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url(./img/Lime_aesthetic.jpg);
    /*border: 2px solid green;*/
    margin: 20px;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
}
.Bild3{
    grid-column: 4/5;
    grid-row: 3/4;
    background-image: url(./img/nedladdning.key.lime.jpg);
   /*border: 2px solid green;*/
    margin: 20px;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
}

footer{
    grid-column: 1/5;
    grid-row: 4/5;
    background-color: white;
    /*border: 2px solid green;*/
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: green;
}
.Vänster{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.Mitten{
    display: flex;
    flex-direction: column;
    align-content: center;
}